.card-contact {
  height: auto;
  border-radius: 10px;
  background-color: #ffe4c4;
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 1em;
}
.card-contact img {
  border-radius: 50%;
  height: 120px;
  padding: 0.3em;
}

.card-contact-detail {
  width: 20em;
  padding: 0px 0.3em;
}
